@model IEnumerable<Pizzeria.Models.Ordini>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center mb-4 pacifico-regular">Lista degli ordini</h2>

<div class="text-center mb-3 pacifico-regular">
    @Html.ActionLink("Crea Nuovo", "Create", null, new { @class = "btn btn-primary" })
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">Nome Cliente</th>
                            <th class="text-center">Cognome Cliente</th>
                            <th class="text-center">Indirizzo</th>
                            <th class="text-center">Note</th>
                            <th class="text-center">Stato</th>
                            <th class="text-center">Costo Consegna</th>
                            <th class="text-center">Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.Users.Nome)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.Users.Cognome)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.Indirizzo)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.Note)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.Stato)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.CostoCons) €</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group" aria-label="Actions">
                                        @Html.ActionLink("Dettagli", "Details", "OrdArts", new { id = item.Ordine_ID }, new { @class = "btn btn-primary btn-sm" })
                                        @Html.ActionLink("Modifica", "Edit", new { id = item.Ordine_ID }, new { @class = "btn btn-info btn-sm mx-2" })
                                        @Html.ActionLink("Elimina", "Delete", new { id = item.Ordine_ID }, new { @class = "btn btn-danger btn-sm" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>