@model IEnumerable<Pizzeria.Models.Ordini>

@{
    ViewBag.Title = "Ordini attivi";
}

<h1 class="text-center my-4">Ordini attivi</h1>

<p  class="text-center my-4">
    @Html.ActionLink("Aggiungi ordine", "Create",null, new { @class = "btn btn-primary btn-lg" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Users.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            Costo Consegna
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Users.Nome)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Users.Cognome)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Indirizzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id = item.Ordine_ID }, new { @class = "btn btn-info mx-1" }) |
            @Html.ActionLink("Elimina", "Delete", new { id = item.Ordine_ID }, new { @class = "btn btn-danger mx-1" }) |
            <button onclick="window.location.href='/OrdArts/Details/@item.Ordine_ID'" class="btn btn-primary mx-1">Dettagli</button>
        </td>
    </tr>
}

</table>
