@model Pizzeria.Models.Articoli

@{
    ViewBag.Title = "Dettagli articolo";
}

<h2>Dettaglio articolo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezzo) €
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tempo_Cons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tempo_Cons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredienti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredienti)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Amministratore"))
    {
        @Html.ActionLink("Vai alla modifica del prodotto", "Edit", new { id = Model.Articolo_ID }, new { @class = "d-block my-3" })
        @Html.ActionLink("Torna al Menù", "Index")
    }

</p>
